<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoshino.mapper.UserEvent.UserEventMapper">
    <select id="getUserEventById" resultType="userEvent">
        select * from java_web.user_event where event_id=#{id};
    </select>

    <select id="getEventByUserId" resultType="userEvent">
        select * from java_web.user_event where user_id=#{userId};
    </select>

    <insert id="addUserEvent" parameterType="com.hoshino.pojo.UserEvent">
        insert into java_web.user_event(user_id, event_name, start_time, end_time,event_description)
        VALUES (#{userId},#{eventName},#{startTime},#{endTime},#{eventDescription});
    </insert>

    <delete id="deleteUserEvent">
        delete from java_web.user_event where event_id=#{eventId};
    </delete>
</mapper>